---
import Layout from '../layouts/Layout.astro';
import Ferrari from '../assets/ferrari.png';
import Track from '../assets/f1-intrack.jpg';
---     

<Layout>
	<nav class="py-8 px-12  flex-between fixed z-80 w-full">
		<img class="w-10" src=logo-caballo-blanco.png alt="" />
	</nav>
	<section class="fixed bg-gradient-to-r from-blue-600 via-blue-400 to-blue-300 w-full h-screen">
		<div id="masked-container"></div>
			<img id="bg-wallpaper" src={Track.src} alt="" class="w-full h-full object-cover" />
			<div class="absolute top-1/2 left-1/2 z-[-10] text-white">
			</div>
		
			<img src={Ferrari.src}  class="left-0  bottom-0 absolute flex-center w-3xl" id="ferrari" alt="Ferrari logo" />
			<div class="absolute top-60 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50 text-white flex flex-col items-center justify-center space-y-6 w-full px-8">
				<h1 id="title" class="font-bold uppercase text-9xl opacity-0">Il Cavallino Rampante</h1>
				<p id="subtitle" class="font-serif text-xl opacity-0"> Progettata per vincere. Nata per correre.</p>
				<button id="button" class="flex items-center justify-center text-3xl border uppercase font-bold border-white bg-transparent text-white hover:bg-white  px-12 py-2 rounded-full hover:border hover:border-white hover:text-gray-700 transition-all opacity-0 cursor-pointer">Inizia il viaggio</button>
			</div>
			
			
	</section>
<style>
	#bg-wallpaper {
		mask-image: url('ferrari-logo.svg');
		mask-repeat: no-repeat;
		mask-position: center;
		mask-size: clamp(50vh, 25%, 20vh);
	}
</style>

<script>
	import { gsap } from 'gsap';
	import { ScrollTrigger } from 'gsap/ScrollTrigger';
	gsap.registerPlugin(ScrollTrigger);

	const tl = gsap.timeline({
		ease: "power2.out",
		scrollTrigger: {	
			scrub: 1,
		},
	})
	.to('#ferrari', {translateX: 1300, duration: 1})
	.to('#bg-wallpaper', {maskSize: 'clamp(5000vh, 3500%, 7000vh)'}, 1)
	.to('#bg-wallpaper', {opacity: 1}, 1)
	.to('#title', {opacity: 1}, 1)
	.to('#subtitle', {opacity: 1}, 1)
	.to('#button', {opacity: 1}, 1)	
	
</script>