---
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content="Astro" />
		<title>Ferrari Scroll</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@import '../styles/global.css';

	@theme {
		--font-sans: 'Humane', sans-serif;
		
	}

	html,
	body {
		height: 300vh;
		overflow-x: hidden;
		overscroll-behavior: none;
		margin: 0;
		width: 100%;
	}

	@font-face {
		font-family: 'Humane';
		src: url('/fonts/Humane-Bold.ttf');
		font-style: normal;
		font-weight: bold;
		font-display: swap;
	}

	@font-face {
		font-family: 'Humane';
		src: url('/fonts/Humane-Regular.ttf');
		font-weight: normal;
	}
</style>
